<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Liste des clients</h1>
    <p class="mb-4">
        Le tableau ci-dessous présente une liste de tous les clients.
    </p>
    <p class="mb-4">
        <a routerLink="/dashboard/home/clients-add" class="btn btn-primary">Ajouter</a>
    </p>
    

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Liste des clients</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nom client</th>
                            <th>Actions</th>
                            
                            
                            
                        </tr>
                    </thead>
                    
                    <tbody>

                        <tr *ngFor="let d of clients">
                            <td>
                                {{d.id}}
                            </td>
                            <td>
                                {{d.name}}
                            </td>
                            <td>
                                -- --
                                
                            </td>
                            


                            
                        </tr>
                        
                        
                        

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>